.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 4rem;
  max-width: 700px;

  overflow: hidden;
  background: #f5deb33b;
  
 
}
.TodoList ul {
  max-width: 600px;
  
  list-style: none;
  

}







